quartz.scheduler.instanceName = QM

# configure thread pool info
quartz.threadPool.type = Quartz.Simpl.DefaultThreadPool, Quartz
quartz.threadPool.threadCount = 100

quartz.serializer.type = json

#SQLCE 4
quartz.jobStore.useProperties = true
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.jobStore.dataSource = ds
quartz.jobStore.tablePrefix = QRTZ_
quartz.dataSource.ds.connectionString = Data Source=Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QMDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False
quartz.dataSource.ds.provider = SqlServer